body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    align-items: stretch;
}

.header, .introduction, .info, .testimonial, .call-to-action{
    display: flex;
    padding-bottom: 50px;
}

/*Header Stuff*/
.header{
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 0px 100px;
    justify-content: center;
    min-width: 500px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

ul{
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 8px;
}

a{
    color: #F9FAF8;
    text-decoration: none;
}


/*Hero Section*/
.introduction{
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}

h2{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAf8;
}

.introduction p{
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}


/*Info Section*/
.info{
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 1000;
}

.cards{
    display:flex;
    justify-content: center;
    gap: 60px;
    font-size: small;
    font-weight: 100;
}

.item{
    width: 150px;
    text-align: center;
}

.square{
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 6px;
}

/*Testimonials*/
.testimonial{
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
}

.testimonial p{
    width: 600px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
.testimonial div{
    padding-left: 200px;
}

/*Call to Action*/
.call-to-action{
    justify-content: center;
}

.box{
    height:100px;
    background-color: #3882F6;
    margin:60px;
    padding: 12px 64px;
    display: flex;
    align-items:center;
    gap:64px;
    border-radius: 16px;
    color:#E5E7EB;
    
}

.box h4{
    font-size: 18px;
}

/*Misc*/
button{
    background-color: #3882F6;
    border-radius: 4px;
    border: 2px solid white;
    padding: 6px 24px;
    color: white;
    font-weight: bold;
}